In [1]:
import spotipy
from spotipy.oauth2 import SpotifyClientCredentials

import json

import requests
import time
import pandas as pd

import scraper
import config

In [2]:
client_id = config.client_id
client_secret = config.client_secret
client_credentials_manager = SpotifyClientCredentials(client_id, client_secret)
sp = spotipy.Spotify(client_credentials_manager = client_credentials_manager)

df_0

In [3]:
ids_0 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1CAt8n5DC9YTJn', sp = sp)

In [4]:
df_0 = scraper.get(ids_0, sp)

df1

In [6]:
ids_1 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E35RZkev66lbJ', sp = sp)

In [7]:
df_1 = scraper.get(ids_1, sp)

df2

In [8]:
ids_2 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E35OxxPGRv5ky', sp = sp)

In [9]:
df_2 = scraper.get(ids_2, sp)

df3

In [10]:
ids_3 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E39BiSB8OLPv1', sp = sp)

In [11]:
df_3 = scraper.get(ids_3, sp)

df4

In [12]:
ids_4 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E36qNEb8zsfms', sp = sp)

In [13]:
df_4 = scraper.get(ids_4, sp)

df5

In [14]:
ids_5 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E3a7ClSLSLuF9', sp = sp)

In [15]:
df_5 = scraper.get(ids_5, sp)

df6

In [17]:
ids_6 = scraper.get_songs(userID = 'spotify', playlistID = '37i9dQZF1E39TC1wK5JCoD', sp = sp)

In [18]:
df_6 = scraper.get(ids_6, sp)

Final result

In [21]:
dfs = [df_0, df_1, df_2, df_3, df_4, df_5, df_6]

In [22]:
pd.concat(dfs)

,name,album,artist,release_date,length,popularity,danceability,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,time_signature
0,Don't You,失戀派對,G5SH,2017-12-26,157075,22,0.693,0.00215,0.693,0.703,0.000117,0.2090,-5.516,0.0388,130.069,4
1,If You Wanna,If You Wanna,Perfume,2017-08-30,163583,0,0.567,0.29300,0.567,0.806,0.195000,0.2420,-2.040,0.0311,149.976,4
2,In My Feelings,Scorpion,Drake,2018-06-29,217933,3,0.735,0.00623,0.735,0.482,0.014400,0.4480,-9.445,0.1390,181.995,4
3,City Lights (feat. EVO+ & Jinmenusagi),Lights,HyperJuice,2015-09-02,248141,0,0.738,0.05730,0.738,0.820,0.000000,0.1610,-3.181,0.0493,131.025,4
4,Save ME,화양연화 The Most Beautiful Moment In Life: Young ...,BTS,2016-05-02,196559,0,0.606,0.02550,0.606,0.778,0.000000,0.0819,-4.393,0.0564,139.865,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,陌生人,陌生人,Tanya Chua,2003-06-05,234120,50,0.589,0.86700,0.589,0.320,0.000335,0.1040,-10.057,0.0281,76.503,4
46,只願和你相愛,20 新歌duet精選,Power Station,2016-12-09,272874,33,0.589,0.54600,0.589,0.565,0.000000,0.0900,-7.699,0.0313,117.037,4
47,Rules,Rules,Tabitha Nauser,2018-05-25,227653,20,0.668,0.22500,0.668,0.824,0.000000,0.1140,-6.990,0.0692,134.034,4
48,除了愛你還能愛誰,無情的情書,Power Station,1997-10-07,277973,33,0.520,0.30500,0.520,0.521,0.000000,0.1280,-8.145,0.0250,96.915,4
49,Mirage,Mirage,Sezairi,2018-10-19,205480,38,0.740,0.42000,0.740,0.654,0.000000,0.0988,-6.749,0.1820,89.974,4